<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Full">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Full urdf file -->
    <xacro:include filename="$(find my_robot_description)/urdf/rms_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Full.ros2_control.xacro" />


    <xacro:Full_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
